<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Check out the PipeCash Designer!</h2>

            <a href="{{site.designerAppUrl}}">
                <div class="btn btn-default btn-xl wow tada" data-wow-delay=".7s">Go Now!</div>
            </a>
            <hr>
            <div>
                <a href="{{site.designerAppUrl}}">
                    <img src="/img/pipecash designer.png" class="wow lightSpeedIn"
                        style="width:60%; margin:auto;">
                </a>
            </div>
        </div>
    </div>
</aside>