<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got you covered!</h2>
                <hr class="light">
                <p class="text-faded">
                    Our products and services include tools for designing and running PipeCash scenarios,
                    custom development of PipeCash components (agents, plugins, runner programs, log managers),
                    integrations tailored for your specific use case, and of course - customer support.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Contact us!</a>
            </div>
        </div>
    </div>
</section>
