<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The
                <a href="#page-top"> <img src="/img/logo.png" style="display: inline-block;" alt="PipeCash"></a>
                Organization</h1>
            <hr>
            <p style="font-weight:bold;"> An organization dedicated to providing PipeCash services and support.
                <br>
                PipeCash is a multipurpose automation framework, designed specifically for convenient use together
                with
                Bitcoin.
                <br>
                Learn more about the PipeCash project at <a style="color:inherit;"
                    href="https://pipe-cash.github.io/">https://pipe-cash.github.io/</a> </p>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>