<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Powerful Tools</h3>
                    <p class="text-muted">Our tools are both simple to use and extremely flexible.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-codepen wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Component Development</h3>
                    <span class="under-construction">Under Construction...</span>
                    <p class="text-muted">You want something that is not yet in PipeCash. Give us a call.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plug wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Integrations</h3>
                    <span class="under-construction">Under Construction...</span>
                    <p class="text-muted">We can provide top quality PipeCash integration with your existing systems.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Hosting</h3>
                    <span class="under-construction">Under Construction...</span>
                    <p class="text-muted">Don't want to bother with infrastructure? Let us handle the hosting of your
                        PipeCash automation.
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Customer Support</h3>
                    <p class="text-muted">Having trouble? We can provide expert advice and support.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leanpub wow bounceIn text-primary"></i>
                    <h3>Tutorials</h3>
                    <p class="text-muted">We are providing a number of free tutorials and guides about PipeCash.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary"></i>
                    <h3>Consulting</h3>
                    <p class="text-muted">Not sure if PipeCash is right for you? Book a meeting with our representative
                        to discuss your specific needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>Training</h3>
                    <span class="under-construction">Under Construction...</span>
                    <p class="text-muted">It is possible to request a training seminar and learn the ins and outs of
                        PipeCash.</p>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>Community</h3>
                    <p class="text-muted">Looking for people with experience? Join the PipeCash <a
                            href="{{site.telegramUri}}"> Telegram group</a>, or go to the <a
                            href="{{site.forumUrl}}"> PipeCash forum</a>. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary"></i>
                    <h3>Solutions Marketplace</h3>
                    <span class="under-construction">Under Construction...</span>
                    <p class="text-muted">Browse through the marketplace for solutions made by our parthners. Purchase
                        common configurations or plugins.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>